@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');
@import 'github-syntax-dark/lib/github-dark.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .layout {
        @apply w-screen h-screen overflow-auto flex flex-col items-center bg-zinc-200 text-neutral-950 font-merriweather;
    }
}

.screen-size {
    max-width: 46%;
}

@media screen and (max-width: 768px) {
    .screen-size {
        max-width: 70%;
        margin: 0 1.1rem;
    }
}

/* Add a media query for small screens (max-width: 448px) */
@media (max-width: 448px) {
    .screen-size {
        max-width: 100%;
        margin: 0 1.1rem;
    }
}

/* Add a media query for small screens (max-width: 280px) */
@media (max-width: 280px) {
    .screen-size {
        max-width: 90%;
        margin: 0 1.1rem;
    }
}
