@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');
@import 'github-syntax-dark/lib/github-dark.css';
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .layout {
        @apply overflow-auto text-neutral-950 font-merriweather;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.intro {
    grid-template-columns: repeat(2, 2fr);
    column-gap: 2rem;
}

.screen-size {
    max-width: 46%;
    margin: 1rem 0;
}

.blog-review {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.5rem;
}

.header-background {
    background-image: url('https://images.unsplash.com/photo-1694376015496-140430f9bf88?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1828&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 3rem;
}

@media screen and (max-width: 1024px) {
    .screen-size {
        max-width: 70%;
    }

    .intro {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
        margin: 1rem 1rem;
    }

    .intro h1 {
        text-align: center;
    }

    .blog-review {
        grid-template-columns: 1fr;
        row-gap: 1.5rem;
        place-items: center;
        margin: 1rem 1rem;
    }
}

/* Add a media query for small screens (max-width: 500px) */
@media (max-width: 500px) {
    .book-image {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .screen-size {
        max-width: 100%;
    }

    .section-details {
        margin: 1rem 1rem;
    }
}

/* Add a media query for small screens (max-width: 448px) */
@media (max-width: 448px) {
    .screen-size {
        max-width: 100%;
        margin: 1.2rem 1.1rem;
    }

    .text-title {
        font-size: 1.5rem;
        font-weight: 700;
    }
}

/* Add a media query for small screens (max-width: 280px) */
@media (max-width: 280px) {
    .screen-size {
        max-width: 90%;
    }

    .blog-review {
        margin: 1rem 1rem;
        max-width: 18rem;
        max-height: 16rem;
    }

    .blog-review h2 {
        font-size: 1rem;
    }

    .blog-review p {
        font-size: 0.8rem;
    }

    .content h1 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .content p {
        font-size: 0.9rem;
    }

    .blog-header {
        font-size: 0.7rem;
    }
}
